*{
  font-family: 'Kanit', sans-serif;
  /* CSS HEX */
  --black: #121420ff;
  --orange: #FD4238ff;
  --purple: #9560FFff;
  --emerald: #56C988ff;
  --mustard: #FFD543ff;
  --white: #FBFDFCff;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#header{
  background-color: var(--black);
}

#page2{
  background-color: var(--black);
}

#page3{
  background-color: var(--white);
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.contact{
  color: var(--mustard);
  position: absolute;
  top: 30px;
  right: 50px;
}

.main_title{
  color: var(--orange);
  font-weight: 700;
  margin: 0;
  margin-left: .5em;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: 'Zen Dots', sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #a93b2d;
  }
  to {
    text-shadow: 0 0 30px #c14434, 0 0 10px #c75f4d;
  }
}

.description{
  color: var(--white);
  font-weight: 600;
  margin-left: 3.2em;
}

.link{
  color: var(--mustard);
  text-decoration: none;
}

.link :hover{
  color: var(--emerald);
  text-decoration: none;
  transition-delay: 0.5s;
}

.about{
  position: relative;
  color: var(--orange);
  font-size: 2.5em;
}

.about p{
  color: var(--white);
  font-size: .4em;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  background: #f2f2f2;
}

.content {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

section {
  width: 100%;
  height: 100vh;
}
section:nth-child(odd) {
  background: rgb(37,37,37);
}

nav#dot-nav {
  position: fixed;
  right: 20px;
  z-index: 100;
}
nav#dot-nav a {
  border: 1px solid rgba(128, 128, 128, 0.527);
  border-radius: 50%;
  padding: 0.5em;
  display: block;
  margin: 10px 0;
  -webkit-transition: all 0.4;
  transition: all 0.4;
}
nav#dot-nav a.active {
  background: rgba(128, 128, 128, 0.527);
}
nav#dot-nav.red a {
  border: 1px solid #db2853;
}
nav#dot-nav.red a.active,
nav#dot-nav.red a:first-child {
  background: #db2853;
}

/* section button */

.content {
  --def: #000000;
	--inv: rgb(0, 0, 0);
  overflow: hidden;
  height: 100vh;
  position: relative;
}


/*footer*/
.footer-dark {
	padding:50px 0;
	color:var(--mustard);
	background-color:var(--black);
	padding-bottom: 2rem;
  }

.footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight: 600;
	font-size:18px;
  }

.footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }

.footer-dark ul a {
	color:inherit;
	text-decoration:none;
  color: var(--white);
	opacity: 0.75;
  }

.footer-dark ul a:hover {
	opacity: 0.95;
  }

.footer-dark .item.text {
	margin-bottom:36px;
  }

.footer-dark .item.text p {
  color: var(--white);
	opacity: 0.75;
	margin-bottom:0;
  }

/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* section style page */

.goupbtn{

  position: absolute;
  width: 20px;
  height: 20px;
  color:rgba(36, 36, 36, 0.527);
  background-color: transparent;
  bottom: -1575px;
  right: 70px;
}
.goupbtn :hover{
  color:rgba(200, 230, 213, 0.842);
}

